<h2>create a new celebrity</h2>
<form action="/celebrities/create" method="post">

<label for="name">name</label>
<input type="text" name="name" id="name">

<label for="occupation">occupation</label>
<input type="text" name="occupation" id="occupation">

<label for="catchPhrase">catch phrase</label>
<input type="text" name="catchPhrase" id="catchPhrase">

<input type="submit" value="submit">
</form>